.filter__dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background: #1f1f1f;
  border: 1px solid #333;
  border-radius: 8px;
  width: 220px;
  max-height: 220px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.filter__dropdown--author {
  left: 100px;
}

.filter__dropdown--year {
  left: 265px;
}

.filter__dropdown--genre {
  left: 425px;
}

.centerblock__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
  position: relative;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  color: white;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: white;
  background: transparent;
  cursor: pointer;
}

.filter__button:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.filter__button--active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
  background: transparent;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.filter__option {
  padding: 12px 16px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.filter__option:hover {
  background: #2e2e2e;
}
