.main__nav {
  min-width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
  position: relative;
  height: 100vh;
  z-index: 1000;
}

.main__nav.menuOpen {
  background-color: rgb(42 41 41);
}

.nav__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.nav__logo {
  width: 113.33px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.logo__image {
  width: 113.33px;
  height: 17px;
  color: #181818;
}

.nav__burger {
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.burger__line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}

.nav__menu {
  display: none;
}

.nav__menu.open {
  display: block;
  position: fixed;
  left: 0;
  min-width: 244px;
  height: 100%;
  z-index: 999;
  padding-left: 36px;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.menu__list {
  margin: 0;
  padding: 0;
}

.menu__item {
  padding: 5px 0;
  margin-bottom: 16px;
  list-style-type: none;
}

.menu__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
